.search__wrapper {
    padding-top: 10%;
}

.search {
    line-height: 30px;
    border-radius: 20px;
    border: none;
    width: 25%;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #fff;

}

.search:active, .search:focus {
    outline: none;
    border: none;
}